.signup-container {
    width: 70vw;
    margin: 0 auto;
    padding: 0px 40px;
    background-color: #f2f2f2;
    border-radius: 5px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    font-weight: bold;
    font-size: 16px;
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background: rgb(255, 199, 95);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .signup-button{
    display: flex;
    justify-content: center;
  }
  